.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  height: calc(100vh - 70px);
  max-height: 700px;
}

.heading {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 59px;
  color: var(--base);
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  color: var(--secondary);
  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.experiencesCont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.experienceCont {
  border: 1px solid #eaecee;
  border-radius: 4px;
  width: 350px;
  box-shadow: 0px 0px 5px 0px #eaecee;
  -webkit-box-shadow: 0px 0px 5px 0px #eaecee;
  -moz-box-shadow: 0px 0px 5px 0px #eaecee;
}

.expSubHeading {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.head {
  display: flex;
  justify-content: center;
  background-color: var(--base);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px;
}

.linkCont {
  padding: 30px 20px;
}

@media (max-width: 1115px) {
  .root {
    height: fit-content;
    max-height: fit-content;
  }
}

@media (max-width: 500px) {
  .root {
    gap: 30px;
    padding: 0px 15px;
  }
  .text {
    margin-top: 0px;
    text-align: justify;
  }
}

@media (max-width: 375px) {
  .experienceCont {
    width: 100%;
  }
}
