body {
  --base: #407bff;
  --secondary: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  p,
  div,
  button {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary);
    font-weight: 400;
    margin: 0;
  }
  #__next {
    max-width: 1500px;
  }
}
